@import 'variables';


.button-primary {
    color: black;
    background: $main-color;
    border-radius: 5px;
    &:hover {
      background: $secondary-color;
      text-decoration: underline;
  }
}

div.two.columns {
  margin: 0;
  width: 100px;
}
