@import 'variables';


.row {
  border: 2px solid black;
  border-radius: 10px;
  margin: 0 10px;
  background: #FF7D01;
  .title {
    background-color: white;
    padding: 0 10px 0 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 200%;
    text-decoration: none;
    color: black;
    &:hover{
      text-decoration: underline;
      color: $main-color;
    }
  }
  .home {
    height: 40px;
    color: black;
    position: relative;
    top: 5px;
    left: 8.1%;
    text-decoration: none;
    color: black;
    &:hover{
      text-decoration: underline;
      color: $main-color;
    }
    img {
      height: 25px;
      position: relative;
      bottom: -2px;
      padding-left: 10px;
      width: auto;
    }
  }
  .new-school {
    border: 2px solid black;
    color: black;
    padding: 6px 27px 5px 27px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 8.5%;
    &:hover {
      border: 2px solid black;
    }
    a {
      color: black;
      position: relative;
      bottom: 5px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .new-teacher {
    border: 2px solid black;
    color: black;
    padding: 6px 27px 5px 27px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
    &:hover {
      border: 2px solid black;
    }
    a {
      color: black;
      position: relative;
      bottom: 5px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .new-student {
    border: 2px solid black;
    color: black;
    padding: 6px 27px 5px 27px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
    &:hover {
      border: 2px solid black;
    }
    a {
      color: black;
      position: relative;
      bottom: 5px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
