@import 'variables';


.nav-row{
  border: 2px solid black;
  border-radius: 10px;
  background: $background-color;
  .title {
    background-color: white;
    padding: 0 10px 0 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 150%;
    text-decoration: none;
    color: black;
  }
  .home img {
    height: 25px;
    position: relative;
    bottom: -2px;
    padding-left: 10px;
    width: auto;
  }
  .button-primary {
    border: 2px solid black;
    color: black;
    padding: 5px;
    font-size: 90%;
    font-weight: bold;
    text-decoration: none;
  }
}
