// Place all the styles related to the schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.index-school-total {
  float: left;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  max-width: 353px;
  width: 100%;
  .index-school-block {
    overflow: hidden;
    .index-school-name-block {
      display: block;
      float: left;
      width: 100%;
      height: 35px;
      .index-school-name {
        font-size: 150%;
        font-weight: bold;
        a {
          color: red;
        }
      }
    }
    .index-buttons {
      float: right;
    }
  }
  .index-teacher-student-block {
    .index-teacher-name {
      border-bottom: 1px dotted lightgray;
      font-size: 125%;
      a {
        text-decoration: none;
        color: green;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .index-student-name {
      font-size: 100%;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.show-school-total {
  border: 2px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 10px;
  width: 98%;
  .show-school-name-block {
    text-align: center;
    display: block;
    .show-school-name {
      font-size: 150%;
      font-weight: bold;
      color: red;
    }
    .show-buttons {
    }
  }
  .show-teacher-student-block {
    float: left;
    width: 33.12%;
    text-align: center;
    border: 1px solid black;
    .show-teacher-name {
      border-bottom: 1px dotted lightgray;
      font-size: 125%;
      a {
        text-decoration: none;
        color: green;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .show-student-name {
      font-size: 100%;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.button-primary.delete-school {
  border: 2px solid black;
  padding: 7px;
  height: 30px;
  margin: 0 5px 0 5px;
  a {
    position: relative;
    bottom: 12px;
  }
}
.button-primary.edit-school {
  padding: 7px;
  height: 30px;
  margin: 0 5px 0 5px;
  border: 2px solid black;
  a {
    position: relative;
    bottom: 12px;
  }
}
