<% school.name %>

  <div class="teacher-student-block">

    <% teachers.each do |teacher| %>

    <h2 class="teacher-name"> <%= link_to teacher.name, teacher %>

      <% teacher.students.each do |student| %>

      <h3 class="student-name"> <%= link_to student.name, student %>

      <% end %>
    <% end %>
  </div>
