<div class="show-teacher-total">
  <div class="show-school-name-block">
    <h1 class="show-school-name"><%= teacher.school.name %></h1>
    <h2 class="show-teacher-name"><%= teacher.name %></h2>
    <% teacher.students.order(:name).each do |student| %>
    <h3 class="show-student-name"><%= link_to student.name, student %>
      <% end %>
  </div>
</div>
