<h1><%= teacher.school.name %></h1>
<h1><%= teacher.name %></h1>

  <div class="teacher-student-block">

    <% teacher.students.each do |student| %>

    <h3 class="student-name"> <%= link_to student.name, student %>

    <% end %>
  </div>
